

.logo{
  max-width: 200px;
}
.logo:hover{
  transform: scale(1.08);
  transition: 0.5s;
  cursor: pointer;
 
}
html {
  scroll-behavior: smooth;
}
body{
  background-image: url("../images/stud2.jpeg");
  /* background-repeat: no-repeat; */
}
nav {
  margin: 5% 5%;
}
nav ul {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}
nav a{
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
}
nav li{
  margin: 10px;
}
/* nav li:hover{
  transform: scale(1.1);
  transition: 0.5s;
  max-width: 100%;
} */
#search-div{
    padding:30px 0px;
    display: block;
    /* background-color: azure; */
  
}
.justify-right{
  justify-content: right;
}
.justify-center{
  display: flex;
  justify-content: center;
  /* flex-grow: 1; */
}
.space-around{
  display: flex;
  justify-content:space-around;
  /* flex-grow: 1; */
}
.back{
  display: flex;
  justify-content: space-evenly;
  /* padding-right: 10%; */
  
}
a{
  text-decoration: none;
  outline:none;
  color:inherit;
}
.info{
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  background-color: crimson;
  /* padding-bottom: 0px; */
}
.revert{
  display:revert;
}
/* #main-table table{
  width: 500px;
  
} */
/* table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  } */
  /* th{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
  }
  td{
    border: 1px solid black;
    max-width: 50px;
    width: 50px;
    text-align: center;
  }
  th{
    padding: 5px;
    text-align: left;
    max-width: 50px;
    width: 50px;
  }
  tr{
    padding: 5px;
    text-align: left;
    max-width: 50px;
    width: 50px;
  } */

  thead{
    background-color: antiquewhite;
  }
  td{
    font-size: 1.5vw;
    background-color: azure;
    word-wrap: wrap break-word;
  }
  td:hover{
    background-color: aquamarine;
    /* transform: scale(1.01);
    transition: 0.1s; */

  }
  th{
    cursor: pointer;
  }
  th h3{
    font-size: 2.5vw;
  }
  th:hover{
    transform: scale(1.001);
    transition: 0.1s;
    background-color: coral;
    color: #ffffff;

  }
  /* footer {
    clear: both;
    position: relative;
    margin-top: auto;
    display: table-row;
} */
  .scroll {
    overflow:scroll;
    height:0px;
}
  #portal{
    margin: 1% 10%;
    /* animation: spin 2s linear infinite; */
  }
  /* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } */
  #form_name {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: white;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    top: 50%;
    left: 50%;
    /* margin: 0 auto; */
    /* padding: 10px; */
    justify-content: center;
    width: 50%;
  }
  #form_input{
    /* padding-right: 10px; */
    width: 400px;
  }
  .name{
    padding-top: 10px;
  }
  .space-between{
    justify-content: space-between;
    margin: 10%;
    width: 450px;
    
  }
  div.input_field{
    width: 50%;
    margin: 2% 10% 2% 25%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: cadetblue;
  }
  .group{
    display: flex;
    justify-content: space-between;
  }
  
  .form-submit-button{
    display: flex;
    justify-content:space-evenly;
    margin: 15%;
    flex-wrap: nowrap;
    padding-left: 30%;
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .table_div{
    height: 300px;
    width: 100%;
    overflow: auto;
  }
 .head{
    border-style:solid; 
    border-width: 2px;
    border-color: black;
    width: 50%;
    height: auto;
  }

input {
  max-width: 150px;
}
.pointer{
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: relative  ; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding: 200px 200px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  /* background-color: #fefefe; */
  margin: auto;
  /* padding: 30px; */
  width: 100px;
  height: auto;
  background-color: azure 00;
  /* border: 1px solid #888; */
}

#home-div{
  height: 400px;
  margin: 15% 10%;
}
#home-div h1{
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 80px;
  /* height: 700px; */
}
.home-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 610px;
}
@media only screen and (min-width: 1300px){ 
  .name h1{
    font-size: 80px;
    margin-top: 5%
  }
  .table_div{
    height: 600px;
    width: 100%;
    overflow: auto;
  }
  .info{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    background-color: crimson;
    padding:20px 0px;
  }
  footer h5{
    font-size: 30px;
  }
  #home-div{
    height: 600px;
    margin: 20% 20%;
  }
  #home-div h1{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 110px;
    /* height: 700px; */
  }
  .home-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1100px;
  }
  #form_input{
    padding-right: 50px;
    font-size: 30px;
    height: 500px;;
  }
  .space-between{
    justify-content: space-between;
    margin: 10% 20% 20% 20%;
    width: 800px;
    height: auto;
    
  }
  .col-md-4{
    height: 300px;
    width: 300px;
  }
  .form-group{
    width: 300px
  }
  input {
    max-width: 250px;
  }

}
@media only screen and (max-width:800px){
  .form-group{
    width: 100px
  }
  .space-between{
    position:relative;
    justify-content: space-between;
    margin: 10% 20% 20% 20%;
    width: 800px;
    height: auto;
    
  }
  .form-submit-button{
    width: 150px;
    display: flex;
    justify-content:space-evenly;
    margin: 1%;
    flex-wrap: nowrap;
    padding-left: 0%;
  }
  .col-md-4{
    margin-left: 4%
  }
}
